<FilesMatch \.php$>
    SetHandler "proxy:fcgi://php85:9000"
</FilesMatch>

# To switch to PHP 7.4 use:
#
# <FilesMatch \.php$>
#     SetHandler "proxy:fcgi://php74:9000"
# </FilesMatch>

# To switch to PHP 5.6 use:
#
# <FilesMatch \.php$>
#     SetHandler "proxy:fcgi://php56:9000"
# </FilesMatch>